[2018-05-31 17:05] mzorz opened #695 "Video tag should contain both start and end tags"
Similar to #694, but opening a new issue so each case is described on a block-type by block-type basis and is easier to track.

### Expected
The `<video></video>` tag should always contain an ending tag.

### Observed
If you start the demo app with valid HTML document like the following

[code]
Then switch to HTML and you will see:

[code]
The `video` tag is replaced by a self-closing audio tag. T

[2018-05-31 17:59] mzorz commented on #683
Probably related https://github.com/wordpress-mobile/AztecEditor-Android/issues/688

[2018-06-01 09:52] #694 closed

[2018-06-01 11:05] #695 closed

[2018-06-01 14:12] daniloercoli commented on #688
It seems to me that this issue is due to a problem in the `AztecParser`.
When you feed Aztec with the demo content reported above, the internal parser in [fromHtml:L64](https://github.com/wordpress-mobile/AztecEditor-Android/blob/develop/aztec/src/main/kotlin/org/wordpress/aztec/AztecParser.kt#L64)
returns the following Spannable:

[code]

Immediately after, when `addVisualNewlinesToBlockElements`

[2018-06-01 16:12] 0nko commented on #688
I think I've seen this before but I thought it's been fixed.

This is probably the culprit. I'm going to take a look if I can come up with something.

[2018-06-01 16:19] #304 closed

[2018-06-01 16:19] 0nko commented on #304
Can't reproduce anymore.

[2018-06-04 13:02] mzorz opened #698 "Nested order of Bold and Italic being changed"
The code in #697 breaks the test `testHasChangesWithMixedBoldAndItalicFormatting()`

Expected output:
`<b>bold </b><i><b>italic</b></i><b> bold text added</b>`

Actual output:
`<b>bold </b><b><i>italic</i></b><b> bold text added</b>`

Given this is actual valid and equivalent HTML and no other test is breaking, merging #697 (which fixes a more important issue) and opening this issue here for tackl

[2018-06-04 13:03] #688 closed

[2018-06-04 18:48] hypest opened #700 "Focus and cursor is lost when switching to visual mode"
### Expected
Cursor stays at the input position when switching from html mode to visual mode.

### Observed
Cursor is not visible and focus is not actually in the editor at all.

### Reproduced
1. Run the demo app
2. Switch to html mode
3. Place the cursor at the end of the `Heading 6` text, right before the `</h6> tag
4. Switch back to visual mode and notice that the cursor is lost
5. Type anythi

[2018-06-04 18:55] hypest commented on #341
Thanks for reporting @hoverduck , I think that one is actually a different issue. Opened up https://github.com/wordpress-mobile/AztecEditor-Android/issues/700 to track it.

[2018-06-05 14:16] daniloercoli commented on #649
Related to https://github.com/wordpress-mobile/AztecEditor-Android/issues/639

[2018-06-06 10:48] #452 closed

[2018-06-06 13:45] #700 closed

[2018-06-06 23:23] hypest opened #703 "Detect content change in the source editor"
Aztec can already detect user-initiated content change in the visual editor by employing a calculated hash-based mechanism. The source editor needs the same mechanism so a host app (like wpandroid) can query the html editor when active for whether it has changes.

[2018-06-07 12:41] daniloercoli opened #705 "OOB Crash in AztecAttributes setValue/removeAttribute"
[code]

Internal Ref: 5a8423408cb3c2fa6302badc

[2018-06-07 12:44] daniloercoli commented on #705
Similar problem in `removeAttribute`.

[code]

[2018-06-07 14:37] daniloercoli opened #706 "Visual Editor rendering problems with double `text-align` CSS declaration"
It seems that the parsing of `style` attribute may produce different rendering on the screen, if there are double declaration of `text-alignment` in the same tag.

Try the following code:
[code]

And this is the result:
![what](https://user-images.githubusercontent.com/518232/41106082-875e96a6-6a6f-11e8-8c60-048de7dc4959.gif)

Note: It also seems that, if there are other style declarations, like s

[2018-06-08 08:06] #703 closed

[2018-06-08 17:50] hypest commented on #686
Can't reproduce anymore. I think it got fixed with https://github.com/wordpress-mobile/AztecEditor-Android/pull/697.

[2018-06-08 17:50] #686 closed

[2018-06-09 22:36] hypest opened #709 "Don't transform <strong> to <b>"
### Expected
When loading html that includes `<strong>` Aztec should not just render it as bold but serialize it as `<strong>` as well.

### Observed
Aztec transforms `<strong>` to <b>.

### Reproduced
1. Load `<strong>this is strong</strong>` into the demo app in html mode
2. Switch to visual mode
3. Switch to html mode and notice that the `strong`s have been transformed to `b`s

#### Tested
Nexu

[2018-06-11 12:47] daniloercoli commented on #705
Adding here another problem with the internal state of AztecAttributes - This time is the `toString` method that causes the OOB:

[code]

[2018-06-12 01:09] hypest opened #711 "Switch to html misses text change if the change bring the content back to origin"
### Expected
Removing changes and switching to html mode should mirror the new state of the content.

### Observed
The text in html mode is still the one that includes changes.

### Reproduced
1. Run the demo app and add some characters at the beginning of text
2. Switch to html mode
3. Switch back to visual
4. Remove/delete the characters added in step 1
5. Switch to html mode and observe the tex

[2018-06-12 08:22] #460 closed

[2018-06-12 08:25] daniloercoli opened #712 "Improve handling of email, and schemeless URLs"
Handling of email and schemeless URLs was added in https://github.com/wordpress-mobile/AztecEditor-Android/pull/708 for email addresses with "common" characters.

We should extend the support to email address with less common characters in it, like doublequote.
`dan"@text.com`

For reference pasting here the link to [email tests](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/

[2018-06-12 08:55] koke commented on #712
Since this is just about detecting something that looks like an email and we don't really need validation, I'd say the simplest way to do it is to treat anything with a `@` that is not a URL as an email.

Linking to core's implementation for reference:
https://github.com/WordPress/WordPress/blob/6e215cae4838d64d1b21db503c2b57730994bc55/wp-includes/js/tinymce/plugins/link/plugin.js#L498

[2018-06-12 09:04] daniloercoli commented on #712
Well, it's more than this. If the user adds an URL without the `http` prefix at the beginning of it, we need to properly detect if it is a valid URL or an email. Checking for the presence of `@` is not a valid test.

If we detect the user inserted a valid URL we need to add the `http://` prefix to it, otherwise, WP backend, prepend the URL of your site to it. If we just fallback on checking the pr

[2018-06-12 09:11] daniloercoli commented on #712
As @koke suggested, we can follow how core handled it and display a confirmation dialog ('The URL you entered seems to be an email address. Do you want to add the required mailto: prefix?')instead  on going crazy on detecting what is an email or not. For all other address, if the `http` prefix is not at the beginning add it.

[2018-06-13 07:39] #711 closed

[2018-06-13 10:21] daniloercoli commented on #693
Closing this issue since its description is not accurate. Will open a new one with details about the issues with ents.

[2018-06-13 10:21] #693 closed

[2018-06-13 10:56] daniloercoli opened #714 "Aztec breaks CSS style on `background-image` with URL"
- Load the following content into the demo app:
[code]

- Start the demo app
- Switch to HTML and see the style attribute:
`url(https: //cldup.com/Fz-ASbo2s3.jpg)` it has a space after `https`

This is due to the way we re-build the style, putting space after each `:` for readability, without checking if it's inside a url. (same happens on `;` on separating directives).

This also breaks GB blocks

[2018-06-13 16:57] #714 closed

[2018-06-13 20:41] mzorz opened #716 "[Aztec + GB] self-closing blocks are not rendered correctly"
### Expected
Self-closing blocks should show the question mark to show a defined representation for an unknown (to Aztec) entity

### Observed
On WPAndroid the name of the tag is shown, plus a trailing `/`.

This is how it goes on WPAndroid:
<img width="335" alt="screen shot 2018-06-13 at 17 26 59" src="https://user-images.githubusercontent.com/6597771/41376793-ac34926c-6f30-11e8-8137-939cb254e9ba

[2018-06-14 10:06] daniloercoli commented on #683
Fixed in #697

[2018-06-14 10:06] #683 closed

[2018-06-14 13:15] daniloercoli opened #717 "GB end-delimiters (html comment closing tags) are not preserved in the correct position"
Basically making some edits to a block could result in the GB hidden closing tag not staying attached to the correct HTML tag.

For pre-formatted block, just add more text to it, and then double tap to exit the block.
For paragraph block, tap on it and insert a new element from the toolbar.
Details below:

**Paragraph block --> adding new Heading from toolbar**
- Feed the demo app with a simple GB

[2018-06-18 14:12] hypest commented on #691
Fixed by #692

[2018-06-18 14:12] #691 closed

[2018-06-19 11:30] hypest opened #718 "Aztec updates source editor on first mode switch even if no user change"
### Expected
First mode switch should not cause a sync of the editors contents if no user initiated change has been performed in the meantime.

### Observed
First time switching the editing mode causes the source editor to update its contents from the visual editor even if the user has made no changes to the visual editor's content.

This is problematic since the visual editor may have self-inflic

[2018-06-19 14:45] hypest commented on #717
Tried the 2 cases in https://testgutenberg.com (Gutenberg v3.0.1) and it seems that the first one (paragraph engulfing headings) is not breaking the GB editing experience while the second (preformatted block new lines) does. I'd suggest we split the cases into separate tickets @daniloercoli , wdyt?

[2018-06-19 14:58] #718 closed

[2018-06-19 15:03] daniloercoli commented on #717
We can split it in 2 tickets, even though it's more a general problem that affects GB hidden comments rather than a problem with `pre`.
I didn't test other blocks, but I think it will be very simple to break them just adding a single new line of text after those.

In any case feel free to split it, and I will open new tickets while i'm testing other blocks with the same testing steps.

[2018-06-19 15:11] hypest commented on #717
I think that some blocks will normally allow more "stuff" to be added in them (even as child blocks) but others will get broken, and in that sense it seems to me that "sticking" the GB comment delimiters to their original neighboring elements is not desirable.

Perhaps even the current situation where the block delim SPAN just expands will prove undesirable, and that's why I think this needs to be

[2018-06-19 15:21] hypest opened #720 "Adding lines to a <pre> block breaks GB editing"
(Extracted from #717 to isolate the `<pre>` case)

When adding new lines and exiting a `<pre>` element causes Gutenberg to display the "This block appears to have been modified externally." placeholder.

#### Steps to reproduce:

- Create a new pre-formatted GB block
`<pre class="wp-block-preformatted">this is<br>pre<br>formatted</pre>`
- Open it in the app, put the cursor at the end of the block,

[2018-06-19 16:44] daniloercoli opened #722 "Adding lines after a List block may break GB editing"
Editing a post that has a list block in Aztec by adding more content after the list can cause Gutenberg to display the "This block appears to have been modified externally." placeholder.

(GB seems to be able to recover from it, even though you need to manually tap to "convert to block" button).

Steps to reproduce:
- Create a new list GB block
`<ul><li>Item 1</li><li>Item 2</li></ul>`
- Open it i

[2018-06-19 21:43] hypest opened #723 "Prepending text in a GB image block breaks GB editing"
### Expected
Adding text in front of the image in a GB image block should not break the GB editing experience (`This block appears to have been modified externally.` placeholder).

### Observed
Adding text in front of the image in a GB image block causes the `This block appears to have been modified externally.` plceholder to appear in GB, breaking the editing flow.

### Reproduced
1. Load the fol

[2018-06-19 21:48] hypest opened #724 "Prepending text in a GB image block caption breaks GB editing"
### Expected
Adding text in front of the caption in a GB image block should not break the GB editing experience (`This block appears to have been modified externally.` placeholder).

### Observed
Adding text in front of the caption (`<figcaption>`) in a GB image block causes the `This block appears to have been modified externally.` placeholder to appear in GB, breaking the editing flow.

### Repr

[2018-06-19 21:55] hypest opened #725 "Prepending text in a GB separator block breaks GB editing"
### Expected
Adding text in front of the horizontal separator in a GB separator block should not break the GB editing experience (`This block appears to have been modified externally.` placeholder).

### Observed
Adding text in front of the horizontal separator in a GB separator block causes the `This block appears to have been modified externally.` placeholder to appear in GB, breaking the editin

[2018-06-19 22:10] hypest opened #726 "Prepending text to an image of a GB gallery block breaks GB editing"
### Expected
Adding text in front of the first image in a GB gallery block should not break the GB editing experience (`This block appears to have been modified externally.` placeholder).

### Observed
Adding text in front of the first image in a GB gallery block causes the `This block appears to have been modified externally.` placeholder to appear in GB, breaking the editing flow.

### Reproduce

[2018-06-20 08:19] koke commented on #720
After you hit "Convert to Blocks" it looks fine to me:

![screen shot 2018-06-20 at 10 19 20](https://user-images.githubusercontent.com/8739/41646196-718ecb76-7473-11e8-994a-38752c105e52.png)

I'd be happy dropping this one

[2018-06-20 08:30] hypest commented on #720
Agreed. The fix will require Aztec to become more aware of the GB blocks way of editing.

Closing this with `wontfix` and `too-gb-aware` labels.

[2018-06-20 08:30] #720 closed

[2018-06-20 08:38] hypest commented on #717
I think that's too advanced editing for Aztec to handle without becoming too aware of GB so, closing this as `wontfix` and `too-gb-aware`.

[2018-06-20 08:38] #717 closed

[2018-06-20 09:34] hypest commented on #716
Closing in favor of https://github.com/wordpress-mobile/WordPress-Android/issues/7930 as this turns out to be a wpandroid rather than an Aztec issue.

[2018-06-20 09:34] #716 closed

[2018-06-20 09:53] koke commented on #724
This one looks worse than the others, I'd expect the typed text to be inside `figcaption`. This results in bad HTML that will likely render badly on the frontend and Gutenberg doesn't know how to recover, even from Classic, dropping the edit.

How hard to fix would you expect this one to be?

[2018-06-20 10:00] hypest commented on #724
Haven't yet looked deep into it but from my first look it seems that it can be rather easy to fix. My plan is to try and get `figcaption` be implemented as a block span, following the HTML spec anyway.

[2018-06-20 11:01] koke commented on #723
Tested this on iOS and Classic editor and they both insert the text between figure and img

[2018-06-20 14:51] koke commented on #722
Convert to blocks seems to recover fine:

![screen shot 2018-06-20 at 16 51 16](https://user-images.githubusercontent.com/8739/41666194-31820836-74aa-11e8-8111-add879c1cf2b.png)

[2018-06-20 19:23] koke commented on #722
Closing this one as it recovers fine

[2018-06-20 19:23] #722 closed

[2018-06-21 10:05] daniloercoli opened #728 "Doing `Select All + Cut` crashes the editor"
- Start the demo app
- Tap long, and `select all`
- Select `Cut`
- The app crashes with the stack trace below:

[code]

Tested on `develop` by running Android 8.0 on emulators.

E/WordPress-EDITOR: HTML content of Aztec Editor before the crash:
D/WordPress-EDITOR: Below are the details of the content in the editor:
D/WordPress-EDITOR:   length = 0
                    x        000 -> 000 : ChangeWa

[2018-06-21 10:39] daniloercoli opened #729 "Add a character before the picture in demo app crashes Aztec"
This is weird.
I tried to add some character before the first picture in demo app and Aztec crashed with the following stack trace:
[code]

I've been able to reproduce the issue on Android 8.0 on both emulators, and real devices.

Steps to repro:
- Start the demo app
- Tap at the beginning of the document to show the keyboard up
- Tap a key
- Crash

Would be cool if someone else can verify this re

[2018-06-21 10:41] koke commented on #729
Tested on a Nexus 5 with 10.1 and it didn't crash

[2018-06-21 10:42] daniloercoli commented on #728
I had already tested production. The bug report is actually on `develop`.

[2018-06-21 10:48] daniloercoli commented on #729
Reproduced on Aztec `1.3.6`.

[2018-06-21 10:49] hypest commented on #728
Reproduced on Nexus 5X, Android v7.1.2, `develop` (555df8b2)

[2018-06-21 10:49] daniloercoli commented on #728
Also be able to reproduce this crash on Aztec 1.3.6.

[2018-06-21 10:55] #724 closed

[2018-06-22 08:31] daniloercoli commented on #729
We can try to follow the suggestion reported in the Google bug report and disable Hardware acceleration. `editText.setLayerType(View.LAYER_TYPE_SOFTWARE, null);`
Not quite sure if disabling HW Acceleration could open other potential problems.

[2018-06-22 08:43] hypest commented on #729
Just commenting on the potential fix by using software rendering, I'd consider dropping hardware acceleration quite an extreme measure, one that would most probably harm Aztec's performance even more.

[2018-06-22 08:43] daniloercoli opened #730 "Posts and pages with lot of tags freezes the app"
This was originally reported in https://github.com/wordpress-mobile/WordPress-Android/issues/7909 as a problem raised by a post with bunch of empty b tags.
Instead the underlying problem is much worse that we initially though, and affects any post that contains a large number of tags in it.

Fabric.io report: 5b1d4f3b6007d59fcd70deac

[2018-06-22 08:53] daniloercoli commented on #729
Unfortunately doesn't seem other options are available to fix the issue.  Except waiting until Google fixes it in the platform. We're waiting since 2017 anyway.
In the meantime the number of crashes is raising (if you sum all the HardwareAccelerated crashes in fabric.io the number is going to be consistent).

[2018-06-22 09:19] daniloercoli commented on #730
On a Pixel emulator running API26 the following report
`5b1d4f3b6007d59fcd70deac/sessions/5B2C1D79007900015CFD1C67C515AC6F_DNE_0_v2?`
does contain a document we can use to reproduce the issue.

On my S9 it doesn't crash Aztec.

cc @mzorz since you were working on the `b` fix.

[2018-06-22 09:24] hypest commented on #730
Nice find @daniloercoli , I'll pick this issue up and investigate.

[2018-06-22 09:32] koke commented on #729
Even if there is no other solution, this crash seems to be affecting less than 0.07% of our users (if I counted this right). I'd imagine disabling hardware acceleration could potentially have worse effects on a much bigger set of users.

[2018-06-22 09:39] daniloercoli commented on #729
I'm counting 11.22% of crashes in `10.2` due to this problem. Didn't count the #of users.

[2018-06-22 10:15] koke commented on #729
That's right, but 10.2 has had 99.63% of crash-free sessions, so that's 11% of the 0.4% of crashed sessions, or ~0.04% of the total number of sessions.

It is one of the top Android crashes, and if we can find a way to fix it let's do it. Just not at the expense of degrading performance for the other 99%.

[2018-06-25 13:28] mzorz opened #732 "Remove cleanup from fromHtml"
As part of #721 we needed to introduce a call to the cleaning procedure in the parser's `fromHtml()` here https://github.com/wordpress-mobile/AztecEditor-Android/blob/develop/aztec/src/main/java/org/wordpress/aztec/Html.java#L192 to make tests happy and because the AztecParser can be actually used as a standalone parser (as used in WPAndroid). In order to keep simmetry it seemed ok to leave the ca

[2018-06-26 18:35] danieltigse commented on #333
Any update in this issue? Or maybe a workaround?

[2018-06-26 18:36] danieltigse commented on #637
Have you solved it?

[2018-06-26 21:35] danieltigse opened #733 "Complex inline css styles didn't pass test"
### Expected
test passed `testStyleAttributePresence`

### Observed
test failed `testStyleAttributePresence` when I change the HTML with this:
`private val HTML = "<b style=\"name:value value value value;\">bold</b>"`
expected: value value value value
actual: valuevaluevaluevalue

An example in real life can be: `margin:0 0 0 3px;`

### Reproduced
1. Change HTML variable to this `private val HTML

[2018-06-26 21:36] danieltigse commented on #733
The solution I can give is to remove this line
`replace("\\s".toRegex(), "")`
from `getMatcher` in `CssStyleFormatter` but I don't know If that will break something

[2018-06-27 06:50] SiobhyB commented on #637
@danieltigse: I'm still able to replicate this issue, so not solved yet.

[2018-06-29 11:44] Nikron9 opened #735 "Disappearing whitespaces"
How to disable deleting white spaces whithout pre tag after fromHtml() function

1. Writing some text and a lot of break lines

![image](https://user-images.githubusercontent.com/26006585/42090455-d3a33164-7ba1-11e8-827f-4a1f243c13dd.png)

2. After save in preview

![image](https://user-images.githubusercontent.com/26006585/42090595-556c5b30-7ba2-11e8-95fb-32a1d71e4c53.png)

3. After restore, in e

[2018-07-10 15:46] emunshi opened #736 "How to disable visual text editor from editing content"
is there any method to display content but user should not be able to edit it.

[2018-07-11 06:37] hypest commented on #736
👋 @emunshi!

Aztec is subclassing the good old `EditText` Android widget and you can normally set the `isEnabled` property to false to disable editing. And since Aztec is basically 2 editors (visual, html) you can individually enable/disable editing.

I will now close the ticket but feel free to comment. Thanks!

[2018-07-11 06:37] #736 closed

[2018-08-07 09:11] hypest commented on #463
👋 @danieltigse , thanks for chiming in!

Do you perhaps have some example content handy we could add to this ticket? It could help with replicating the issue, especially if it happens on recent versions.

In the meantime, it's a known issue that lots of images can bring down performance for Aztec. It would be super useful if that example content doesn't have many images so we surface other/new per

[2018-08-16 07:48] liufsd opened #738 "Large text ANR when call refreshText"
### Expected
support show large text.

### Observed

show large text content ,when call refreshText such as audio/video update. it will ANR.

[code]

### Reproduced
1. run demo app
2. paste large text ,such as this html:  https://www.cctalk.com/m/topic/418028231327212
3. call refresh text. it will crash .(i have custom audio span, like above html showed. it will show playing progress.)

#### Teste

[2018-08-20 20:59] iamthomasbishop commented on #653
Related to this iOS issue: https://github.com/wordpress-mobile/AztecEditor-iOS/issues/1028

We have decided to change the label of this option to `Paste without Formatting`, and like this issue it should also remove styling from the pasted contents. Whether it also removes links is under consideration.

[2018-08-23 17:06] mzorz commented on #653
Closed via #739

[2018-08-23 17:06] #653 closed

[2018-08-24 09:52] taosimple opened #740 "EditText lineSpacingExtra strange behavior"
It looks like a android system bug, and it also happens in AztecEditor too.
Specific problem description:
[stackoverflow1](https://stackoverflow.com/questions/27421809/edittext-linespacingextra-strange-behavior)
[stackoverflow2](https://stackoverflow.com/questions/42687621/i-can-not-adjust-the-edittext-linespacing)
[google Issue Tracker ](https://issuetracker.google.com/issues/37009353)

[2018-08-29 13:02] kexanie opened #741 "How to prevent the soft keyboard popping up when click on AztecMediaSpan?"
### Expected
I was trying to pass click event into the overlays of `AztecMediaSpan`, so we enhance the interactivity of media elements in the text, like implementing an "click to delete image" feature.

### Observed

I found that the soft keyboard will pop up when clicking on `AztecMediaSpan`, since `TextView`'s `onTouchEvent()` will call `imm.showSoftInput(this, 0)` even if our span handle the to

[2018-09-19 15:21] MarcosEduardoJr opened #747 "Unresolved Reference GlideImageLoader"
### Observed
I try used AztecEditor in my project but i can't  use this libray because when i folow steps that exist on github for put the slice code below one error show me, that "Unresolved Reference GlideImageLoader "
" Aztec.with(visualEditor, sourceEditor, toolbar, context)
    .setImageGetter(GlideImageLoader(context))
    .setVideoThumbnailGetter(GlideVideoThumbnailLoader(context))"
How i c

[2018-09-27 07:09] daniloercoli commented on #747
Please, take a look at the demo app available in the repository, in particular look at the `build.gradle` file, and make sure you've set the correct dependencies in your prj. EX: `implementation project(':glide-loader')`.

I suggest you to checkout the repository, open the Aztec-Editor project in Android Studio, and look at the `app` folder for checking all the basic configurations.

[2018-09-28 14:42] BarbaLoira commented on #747
Thanks,

My last ask is how i can change header 'h1,h2,h3..' to style without bold.

Att.

[2018-10-03 06:57] daniloercoli opened #748 "RuntimeException - AztecMediaSpan.draw"
[code]

Internal Ref: 5a2735cd61b02d480df3abcc

[2018-10-03 07:42] daniloercoli commented on #748
I was able to reproduce the problem.
- Start the app and go to posts list
- Tap on Edit for a post that contains lot of pictures
- Once the editor is on the screen and the placeholders visible tap the home screen
- Wait a couple of secs until some pictures are loaded from the network
- Re-open the app

[code]

[2018-10-03 08:46] khaykov commented on #729
Based on the discussions about similar (same?) same issue in [Aztec repo ](https://github.com/wordpress-mobile/AztecEditor-Android/issues/516) this might be the OS that was [tracked by Google](https://issuetracker.google.com/issues/67102093) and fixed in newer OS version.

If someone else can confirm this we can probably close this issue (I assmue we are not going to disable HWA).

[2018-10-05 09:49] daniloercoli commented on #748
Fix wp-android side [here](https://github.com/wordpress-mobile/WordPress-Android/pull/8397).

[2018-10-05 09:49] #748 closed

[2018-10-05 15:34] 0nko opened #749 "Crash when deleting text"
#### To reproduce

1. Open the demo app (in the emulator)
2. Select all text
3. Press the delete key
4. Notice the app crashes

[2018-10-10 14:37] mzorz commented on #749
Unassigned myself as I couldn't do much progress with this one so far

[2018-10-10 19:49] mzorz commented on #749
I was able to narrow down to issue to be only happening with image with captions:
If all the content there is is this:
[code]

it breaks.

However an image alone, like this:

`<img src="https://examplebloge.files.wordpress.com/2017/02/3def4804-d9b5-11e6-88e6-d7d8864392e0.png" />`

doesn't break it.

[2018-10-11 09:56] #749 closed

[2018-10-14 16:12] drakeet commented on #729
![The Oreo bug](https://user-images.githubusercontent.com/5214214/46919207-6f496280-d00e-11e8-9b68-c2b36ede247f.png)
I also encountered this problem in my application, I tried to follow the "turn off hardware acceleration" method discussed in the Google issue, but it will cause the page to not render completely (it seems to be blank), so that it is a method that does not work for me.

[2018-10-16 05:30] drakeet commented on #729
If it is acceptable, I can submit a PR or gist for it.

[2018-10-17 10:06] hypest commented on #729
👋 @drakeet !

I'm kinda confused about what that means, can you elaborate? Also, are those an indication that there's a bug somewhere else? It would be awesome if you could continue investigating towards finding the root cause of the crash here or maybe offer some insight if you have it from your experience with your own app.

I'd say that the suggestion in https://github.com/wordpress-mobile/Azte

[2018-11-06 03:49] mzorz opened #755 "Image with link not tappable"
### Expected
When you open a Post that has an image with a link in it, tapping on it should show the Image Settings screen.

### Observed
When you open a Post that has an image with a link in it, tapping on it doesn't do anything.

### Reproduced
1. draft a new post
2. insert an image
3. tap on it and see the image settings screen appears
4. set up  a link, for example www.wordpress.com
5. tap the

[2018-11-06 03:52] mzorz opened #756 "Image settings: caption is not displayed"
### Expected
When you enter a caption for an image, it should be displayed on the Image Settings screen again when you try to edit it.

### Observed
Even when the caption has been entered and is shown both on Aztec and on html mode, tapping on the image shows the Caption field empty.

### Reproduced
Tested with WPAndroid:
1. start a new draft
2. insert an image
3. tap on it to open the image setti

[2018-11-06 03:58] mzorz opened #757 "Aztec Demo app: playable media (audio, video) not being shown"
### Expected
On the demo app, audio and video should show an icon and when tapped should bring the player up.

### Observed
Instead of that, the shortcodes are displayed in raw text.
Tested and found this is so since 1.3.5:  Up to version 1.3.4 we had video and audio working in the demo, but then it got lost (instead of showing the image/icon it shows the shortcode tag). We'll need to check it aga

[2018-11-08 11:00] 0nko opened #760 "Repeating characters in the editor"
This looks similar to #580, which was caused by the use of an `InputFilter`.

This bug was reported in WPAndroid `11.1` release, after [this change](https://github.com/wordpress-mobile/AztecEditor-Android/pull/746/files#diff-7ca71cd1f009ab8438e0901205001b14R456) from Aztec `1.3.10` was integrated.

![image](https://user-images.githubusercontent.com/1522856/48194573-b0067400-e34d-11e8-8be7-727eee0a

[2018-11-08 13:00] #760 closed

[2018-11-13 13:50] daniloercoli opened #765 "Adds WordPressLint module for lint checks"
WordPressLint is our module for custom lint checks. Ref: https://github.com/wordpress-mobile/WordPress-Lint-Android

It's has just 3 RTL language checks at the moment, but probably we will add more in the future, so it's preferable to have it here.

[2018-12-04 14:22] jtreanor opened #767 "UninitializedPropertyAccessException crash in AztecToolbar"
[code]

This crash is new in WPAndroid 11.4-rc-1.

Fabric: http://crashes.to/s/2a0ed7c36a7

[2019-01-10 11:06] marecar3 commented on #640
Closing this one in favor of: https://github.com/wordpress-mobile/WordPress-Android/issues/8827

[2019-01-10 11:06] #640 closed

[2019-01-13 23:30] 0nko opened #774 "Set caption span align property"
When assigning attributes, the `align` property of the caption span is not synced with the alignment attributes. This can cause bugs when clients rely on them to be both up to date.

[2019-01-15 08:06] #774 closed

[2019-01-25 06:32] nierongcheng opened #782 "How do I set the space bigger between paragraph?"
### Expected

### Observed

### Reproduced
1. [STEP_1]
2. [STEP_2]
3. [STEP_3]

#### Tested
[DEVICE_NAME] on [OS_VERSION] with [APP_VERSION]

[2019-03-19 09:32] ranjitzade opened #794 "How to use same Html.java to load html content in TextView"
Basically, I'm using this editor as WYSIWYG to let users post data.
 But also I want to load the data that Html data, so instead of using internal HtmlTagHandler, I want to use the one that this library provided.

Is there a workaround for this?

[2019-03-26 16:05] hypest commented on #794
👋 @ranjitzade , thanks for reaching out! If I understand correctly, what you're probably looking for is using the [Html.fromHtml()](https://github.com/wordpress-mobile/AztecEditor-Android/blob/d2492a835555c658581f495838cd0e5ba76bdb0b/aztec/src/main/java/org/wordpress/aztec/Html.java#L178) method, which is public and static. It will return a parsed string into Spanned.

Notice though that the span

[2019-03-26 16:05] #794 closed

[2019-03-26 18:24] mzorz opened #798 "Crash when trying to delete a word right before an image"
### Expected
Aztec please don't crash :)

### Observed
When a word that is right before an image is selected and deleted, the editor crashes.

[code]

### Reproduced
1. Open the Aztec demo app
2. tap right at the beginning of content (before the image), and type some words
3. select the last word right before the image
4. press the _backspace_ key
5. observe crash

#### Tested
[Google Pixel 2] on

[2019-03-26 18:33] mzorz commented on #798
Originally seen in #8828, https://github.com/wordpress-mobile/WordPress-Android/issues/9470

[2019-03-26 18:39] mzorz commented on #798
Considering whether this is a possible duplicate of #729. One thing I've seen here is that trying to select the last word before the image in the newly entered text, by double tapping on it, actually selects both the last word _and_ the image block completely. So there must be something in there about boundaries that is not being handled correctly.

If you delete a character _within_ the last word

[2019-03-26 18:57] mzorz commented on #798
Closing - definitely a duplicate of #729 and further info described in https://github.com/wordpress-mobile/WordPress-Android/issues/8828, https://github.com/wordpress-mobile/WordPress-Android/issues/9470

[2019-03-26 18:57] #798 closed

[2019-03-27 08:55] hypest commented on #174
Fixed with #777

[2019-03-27 08:55] #174 closed

[2019-03-28 05:34] drspaceboo opened #799 "Update code style files"
Cloning this repo today and opening it in Android Studio resulted in a popup informing me that the code style has been converted to their "new" format with [a link](https://confluence.jetbrains.com/display/IDEADEV/New+project+code+style+settings+format+in+2017.3) explaining why that change was made.

It would be advisable to update the repository to store the new code style files instead of the ol

[2019-03-28 06:50] drspaceboo opened #800 "Look into ways to improve the performance of `fromHtml`"
While looking into the root causes of [this issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/714) logged against Guttenberg Mobile. I tracked down that one of the causes of the lag that is the call to `AztectText`s `fromHtml` call.

I made some small modifications to the app to load a large post from [this comment](https://github.com/WordPress/gutenberg/issues/11782#issuecomment-

[2019-03-29 05:28] drspaceboo commented on #800
I got some more time today to look into this. The multiple calls to `setText` seem to be due to the multiple images in the HTML being loaded and `setText` getting called each time one is ready for display.

I stumbled on [this article regarding spans](https://medium.com/androiddevelopers/underspanding-spans-1b91008b97e4). It looks like if we store a reference to the internally used spannable/edita

[2019-03-29 08:51] hypest commented on #800
👋 @drspaceboo , can you share here a "stacktrace" or call graph of such a case to have a look? Thanks!

[2019-03-29 09:21] drspaceboo commented on #800
@hypest It should be visible in the trace file linked in the original comments.

I would grab more but I'm away from my computer until Monday. All I did to see it today was log a stack trace when `refreshText` is called.

[2019-04-02 10:58] mzorz commented on #729
Closing via #801

[2019-04-02 10:58] #729 closed

[2019-04-05 15:04] jtreanor opened #805 "Caused by java.lang.NumberFormatException in CleaningUtils"
This crash first appeared in 12.1-rc-3 and appears to be increasing in frequency:

[code]

5ca33cb5f8b88c296305cf94-fabric

[2019-04-05 18:33] mzorz commented on #805
I've been investigating this one trying to reproduce with the logs we have on current `develop`

The logs say
[code]
So, when opening the post and checking for id 34 I can see this content:

[code]

I pasted it on my own site and I cannot make it crash as apparently there's nothing weird in there - one thing we may be missing is for example, there may be a possibility that they're opening a locall

[2019-04-08 08:01] daniloercoli commented on #805
I spent some time over the weekend trying to reproduce the problem with no luck.
I tried with an old version of Aztec, and the newest one, with text that contains lot of HTML ents, but was not able to reproduce the crash. Would be good to have an input that makes
`Jsoup.parse(html, "", Parser.xmlParser()).outputSettings(Document.OutputSettings().prettyPrint(false))` crashing.

[2019-04-08 08:09] malinajirka commented on #805
Thanks for looking into it @mzorz and @daniloercoli ;).

It seems jsoup version 1.11.3 has been [released in April last year](https://jsoup.org/news/release-1.11.3) and since it's a widely used library I believe they'd have known about an internal issue by now. Wdyt?

Can't it be related to the recent fix of the #1 crash. There are two things which seems suspicious
- it first appeared in RC3 (if I

[2019-04-08 08:18] daniloercoli commented on #805
Sure, I suspect the problem is in the following part of the code `Parser.xmlParser()`, since we're parsing an HTML document by using an XML parser instead. Supported ents in XML should be a subset of those available in HTML.

[2019-04-08 08:18] jtreanor commented on #805
Thanks, @malinajirka!

Yes, that's right, this first appeared in 12.1-rc-3 which included these changes:

- https://github.com/wordpress-mobile/WordPress-Android/pull/9492
- https://github.com/wordpress-mobile/WordPress-Android/pull/9500
- https://github.com/wordpress-mobile/AztecEditor-Android/pull/801

[2019-04-08 10:17] mzorz commented on #805
Definitely I didn't mean the problem would have to also be widely spread and thus noticed elsewhere other than WPAndroid, but rather that it was "contained" within the jsoup parser and also that it is specific to the nested b tags cleaner.
If we don't find a solution quickly (for which we could first try to log IMO the local contents when the crash happens and see further there if it's related to

[2019-04-08 10:27] jtreanor commented on #805
Thankfully, the crash rate has not grown over the weekend. As it stands I would be happy to cautiously push forward with the 12.1 release, while watching very carefully that this doesn't get out of control.

Would it be possible to do this prior to the release today? Hopefully, that would allow us to fix it more quickly.

[2019-04-08 10:32] mzorz commented on #805
Sure thing let's try adding the logger to gather info :+1:

[2019-04-08 12:27] daniloercoli commented on #805
Logging the content of the editor is not possible for privacy reasons without additional checks that happens when the editor is fully initialized (We're logging it only for public sites and for public posts). The changes required to make the logging correctly happen in the utils routines (that are called before the editor is up and running) are not that simple to implement them right before the cu

[2019-04-08 12:33] jtreanor commented on #805
Thanks, @daniloercoli and @mzorz.

I would prefer not to catch and hide the crash. Without I fix, I think it is best to let the crash happen.

Let's watch the trend and implement the logging in an upcoming release?

[2019-04-08 13:23] mzorz commented on #805
Ok sounds good @jtreanor! Thank you for looking into this @daniloercoli

[2019-04-09 07:56] malinajirka commented on #805
Thank you all for looking into it! ;)

Just a quick note: What about logging the exception in the catch block with `CrashlyticsUtils.logException`? We could still see the trend and the app wouldn't crash. Wdyt?

[2019-04-09 12:10] mzorz commented on #805
Sounds good! Would you like to submit a PR with that, given the other PR has already been merged?

[2019-04-10 07:03] malinajirka commented on #805
I have been quite busy lately. I will be happy to do it, but it might take a while before I get to it. I want to fully understand the context and make sure we actually end up in a valid state if we just consume the exception (and log it). (if anyone else has time and wants to do it, please feel free).

[2019-04-10 09:41] mzorz commented on #805
Don't worry then! I feel at this point we should only gather more info (logging) rather than modifying behavior, for the same reasons you outlined. :+1:

[2019-04-10 12:31] jtreanor commented on #805
Thanks everyone for the input on this.

12.1 has been rolling out gradually since Monday and the good news is that this has not been a widespread issue as of yet.

The additional logging will help us learn more as this happens again but I don't think we need to do anything else urgently here.

[2019-04-11 14:19] daniloercoli commented on #622
Also reported in gb-mobile here: https://github.com/wordpress-mobile/gutenberg-mobile/issues/824#issuecomment-482112211

- Start with two words text like "two words".
- Place the caret between the space and the "w".
- Tap on "B" to turn on bold.
- Type a few chars and press "space".

[2019-04-15 15:18] jtreanor opened #808 "java.lang.RuntimeException in EndOfParagraphMarkerAdder.onTextChanged"
This crash seems to have been around for a while (11.8) but has recently become very common. There have been 227 crashes on 12.1 so far.

[code]

5c94288ef8b88c296305c342-fabric

[2019-04-15 17:50] mzorz commented on #808
This seems related to #801, or at least #801 made it more prominent. Looking into it.

[2019-04-16 12:38] mzorz commented on #728
Tested, doesn't seem to be happening anymore as of `1.3.24` (https://github.com/wordpress-mobile/AztecEditor-Android/commit/40cde2f867a5642599e413f0869959ab40bd76d1).

Closing

[2019-04-16 12:38] #728 closed

[2019-04-16 12:58] #808 closed

[2019-04-16 17:05] mzorz commented on #516
Fixed for now I Android 8.x via #801, closing

[2019-04-16 17:05] #516 closed

[2019-04-30 16:11] hypest opened #814 "List item has no bullet after Backspace and Enter again"
### Expected
The list item created after backspacing on and item and hitting Enter again should have a bullet.

### Observed
There's no bullet on the newly (re)created item.

First reported by @mkevins [here](https://github.com/wordpress-mobile/gutenberg-mobile/pull/928#issuecomment-487041948) using the steps described by @marecar3 [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues

[2019-05-02 00:46] mzorz commented on #735
Was able to reproduce this one, with the following steps:

1. type title
2. start typing text
3. hit enter 3 or 4 times (3 or 4 empty lines)
4. enter more text on line 5
5. exit the editor
6. open the draft again
7. observe the empty lines were removed completely

cc @mkevins just for reference / history keeping, as this was something I found in the context of testing https://github.com/wordpress-

[2019-05-16 09:06] jrcacd opened #819 "How to change text color?"

[2019-06-05 10:36] sentry-io[bot] opened #823 "IllegalStateException: Not allowed to start service Intent { cmp=org.wordpress.android/.ui.uploads.UploadService (has ex..."
SentryIssue: https://sentry.io/share/issue/df505e24002a4634ba7cb4d36ed03afb/

[code]

New in 12.6-rc-1/alpha-172.

[2019-06-05 10:37] #823 closed

[2019-06-07 09:06] sentry-io[bot] opened #824 "ServiceConfigurationError: kotlinx.coroutines.CoroutineExceptionHandler: Error reading configuration file"
Sentry Issue: https://sentry.io/share/issue/9cb4d5e7e0b0482c8e9debb4afafb6bb/

[code]

[2019-06-07 09:07] #824 closed

[2019-07-11 21:54] designsimply commented on #649
**30-day impact:** ~1 per day
**Users affected:** 23 in the last 30d
**Last seen in:** 12.5

<sup>https://sentry.io/share/issue/25e98c90786e4e0f9eac0d4d617a2283/</sup>

[2019-07-20 03:08] JerryGan2 opened #828 "last image deleted by mistake"
### Expected
only '\n' should be deleled

### Observed
both picture and "\n" deleted

### Reproduced
1. put one picture at the end of arcticle
2. type "\n" after the picture
3. type backspace
last picture and "\n" are deleted both

#### Tested
PRO 5 and Virtual Devices

suggest
maybe FullWidthImageElementWatcher.kt line 57
val mustFixSpanEnd = wrapper.end < aztecText.length() && aztecText.text[wra

[2019-07-22 21:45] designsimply commented on #638
@danieltigse most of the editor-related work has been shifted to preparing to use a new block editor in the mobile apps and support for editing tables should eventually be added there but I do not have an ETA for that because editing tables from the mobile apps has relatively lower usage compared to other editing tasks. A workaround in the mean time could be to try using HTML Mode within the app o

[2019-07-22 21:48] designsimply commented on #638
A user reported not being able to edit content within HTML tables using the WPAndroid app saying:

<blockquote>Just wondering about a problem on the app. I can’t seem to change the wording on some of the pages. And if i change it to html mode. Still can’t do it.</blockquote>

<sup>(internal references: 2163737-zen and 2193436-zen and p4a5px-2q9-p2) cc @gwensmithx</sup>

I tested and confirmed usin

[2019-07-22 23:32] designsimply opened #829 "Copying preformatted text causes text to run off the page"
Steps to reproduce:

1. Find some preformatted text (using `<pre>`) on the web and copy the content.
1. Open the WPAndroid app.
1. Go to Profile (Me) > App Settings > Use Block Editor and toggle it off.
1. Create a new post.
1. Paste in the content from step 1.
1. Publish the post and view it from your device.

Sample content:

<pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam el

[2019-07-22 23:36] designsimply commented on #829
A user reported that words keep going off the page when they try to view posts using the app and it's because they're not aware that they are copying and pasting formatted content:

<sup>(internal reference: 2191094-zen) cc @charliescheer </sup>

[2019-07-24 13:06] alexandersokol opened #830 "Centered Image"
Hello, I faced an issue when I can't make only image tag centered.
This is how raw html looks like:

[code]

iOs developers use class="aligncenter size-full" to center all images, but on Android side it does nothing.

Can anyone explain how to deal with it?

[2019-07-26 11:14] mzorz opened #831 "Crash: IllegalStateException: parentStyle must not be null"
Crash observed while testing Aztec with monkeys
[code]

Device: Pixel 2 emulator with Android 8.0

State used to reproduce: clean wiped emu, clean your clipboard memory as well (issue `echo -n '' | pbcopy` on a terminal window), then run:

`adb -s emulator-5554 shell monkey -p org.wordpress.aztec -v 1000000`
and wait.
You may end up having to run it 2 or 3 times (it will crash before that with oth

[2019-07-26 18:02] mzorz opened #833 "Crash: IndexOutOfBoundsException on SuggestionPopUpWindow"
This was found running the demo app with [UI/Application Exerciser Monkey](https://developer.android.com/studio/test/monkey.html)

[code]
on en emulator with Android 8.0, started from scratch with no clipboard data, and full app permissions.

[2019-07-31 21:09] marecar3 opened #836 "Span overlapping on Chromebooks"
### Expected

When you resize a window of the application text spans shouldn't overlap image span

### Actual behavior

When you resize a window of the application text spans overlap image span

### Steps to reproduce the behavior
![image5](https://user-images.githubusercontent.com/28219092/62248348-dd042680-b3b5-11e9-8e90-8992a054a465.gif)

[2019-08-01 17:02] #836 closed

[2019-08-01 17:12] khaykov opened #837 "Phantom image size increase on slow window resize"
This issue got uncovered after #835 got merged.

When you slowly resize window sometimes image bounding box gets too large, which results in this (all the space at the bottom is the image box)
![image](https://user-images.githubusercontent.com/728822/62313066-a45f5e00-b444-11e9-9a6f-99e500a29a62.png)

To test, slowly resize the window.

[2019-08-02 15:40] khaykov opened #839 "Cursor increases in size on the new empty line"
### Expected
When you press Enter after typing a paragraph, the cursor will have a height appropriate for the text size.

### Actual
Cursor is huge, and then shrinks when you start typing
![image1](https://user-images.githubusercontent.com/728822/62381788-109f9780-b501-11e9-90a6-0a41994dbfb8.gif)

[2019-08-03 21:57] charliescheer commented on #829
another example of this problem here 2237940-zen

in this case it wasn't just white-space: pre; but was other text formatting that cause the text to come in as the same color as the background of the site.  The text styling for the site was overridden and it made the text invisible.

[2019-08-04 04:31] prasad456 commented on #471
@theck13  for latest relaese also show media options button hide other tools but not displaying any media options

[2019-08-05 15:29] #839 closed

[2019-08-06 18:42] prasad456 opened #842 "video crashing while picking"
### Expected
Video thumbnail

### Observed
as from library i do use all components as in the code,
While picking the video crash

### Reproduced
1. Picking video from gallery
2. [crashed]

### Error log
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/bumptech/glide/load/model/stream/StreamModelLoader;

locating at
.setVideoThumbnailGetter(GlideVideoThumbnailLoader(this))

#### Tested
[D

[2019-08-08 17:24] prasad456 commented on #396
i'm unable to get file from the path to upload the image to server

[2019-08-12 02:11] prasad456 commented on #514
@liufsd
do you have solution for p tag?
I facing the same here?

[2019-08-12 02:45] liufsd commented on #514
@prasad456  sorry ~ no~ .~

[2019-08-16 11:00] alexandersokol opened #845 "Header text style not carry to the next line after enter pressed"
### Expected
Header text style applies to the next line if the user pressed 'Enter'

### Observed
Header text style doesn't apply to the next line

### Reproduced
1. Enter some Text
2. Apply Header for a line
3. Put the cursor to the end of line
4. Press Enter
5. Start writing text on a new line without formatting

#### Tested
Google Pixel on 9.0 with v1.3.30 Aztec version

[2019-08-16 11:04] alexandersokol opened #846 "Inline text styles are not carrying to the next line after enter pressed"
### Expected
Inline text styles should be applied (underline/bold/italic) to the next line if the user pressed 'Enter'

### Observed
Inline text styles not applied to the next line after the user pressed 'Enter'

### Reproduced
1. Type some text
2. Select text till the end of line
3. Apply underline/bold/italic styles
4. Move the cursor to the end of the line
5. Press 'Enter'
6. Text on the new li

[2019-08-16 11:16] alexandersokol opened #847 "Unable to set inline font style at the beginning of new line"
### Expected
Inline styles should be applied to the whole line if styles were applied to the beginning of the new line

### Observed
Inline styles not applied to the whole line if styles were applied to the beginning of the new line

### Reproduced
1. Begin new line
2. Apply inline styles underline/bold/italic
3. Start typing text
4. Styles are not applied

#### Tested
Google Pixel on 9.0 with v1.

[2019-08-28 08:38] yangshibai opened #848 "java.lang.IndexOutOfBoundsException: setSpan()"
When set  aztec.visualEditor.filters = arrayOf<InputFilter>(InputFilter.LengthFilter(1000)) ,it menas EditText MaxLength is 1000，next I paste piece of text with more than 500 words, the
first time is all right ,but the second time I continue paste this text ,the application crashed。

     This is the crash Log:

 java.lang.IndexOutOfBoundsException: setSpan (1272 ... 1272) ends beyond length 1000

[2019-08-29 11:07] alexandersokol opened #849 "Header sizes changes after header was applied to the next line"
### Expected
Type text and select header from the menu - Header size applied
Start new line,  select header type from the menu - Header size applied
The previous line has the same header size as if was applied

### Observed
Type text and select header from the menu - Header size applied
Start new line,  select header type from the menu - Header size applied
The previous line has font much bigger t

[2019-10-01 20:58] designsimply opened #852 "Text unexpectedly converted to headings if the very first line in the post is a heading and you edit text below it"
Steps to reproduce:

1. Type some H3 text as the very first line in the post.
1. Type some normal paragraph text.
1. Edit any paragraph below the heading by adding text anywhere in the line then pressing the space bar.

**Result:** all of the text on the current line and everything between becomes part of the heading. Note: this only happens if the heading is the very first line in the post and th

[2019-10-01 21:09] designsimply commented on #852
If you throw in an image some time before step three, then the heading text ends up overlapping the image. I believe this is the same bug but with an image thrown in. 🙂 ([1m52s](https://cloudup.com/cQDAEQqbfLI))

[2019-10-02 15:13] daniloercoli opened #853 "Keeping Backspace pressed doesn't delete all the text"
### Expected
To be able to keep Backspace pressed on the virtual keyboard and be able to keep deleing text.

### Observed
See the video on my nexus 5x: https://cloudup.com/cPoCbHUTMr4

- On a Nexus 5x with `Google Keyboard`
The caret stops almost immediately and I see the following in the log
[code]

- On a Samsung S9 with `Samsung Keyboard`
The caret stops at the end of the previous line and `sen

[2019-10-02 15:28] daniloercoli commented on #853
I tested the versions `v1.3.27`, and `v1.3.28` and both worked without problems.
The issue was introduced in `v1.3.29`. cc @marecar3

[2019-10-02 15:36] marecar3 commented on #853
Thanks, @daniloercoli, probably one of chromebook fixes introduced that bug.
I will come back with the details. cc @khaykov

[2019-10-02 15:41] daniloercoli opened #854 "Can't properly insert text on Android 7"
This is related to https://github.com/wordpress-mobile/AztecEditor-Android/issues/853 and it's very noticeable on my Nexus 5x running Android 7.1.

Video here: https://cloudup.com/c9B1MVYh9lz (I was trying to type "Hello There").

Introduced since `v1.3.29`. I'm kind of surprised that we've not caught it during tests, maybe it's a problem on my device only?
I just tested 2 previous versions, and t

[2019-10-02 15:49] marecar3 commented on #854
Thanks, @daniloercoli!
I will see with @khaykov where could be the problem.

[2019-10-02 15:59] marecar3 commented on #854
It seems that both this and #853 are exposed because of this change: https://github.com/wordpress-mobile/AztecEditor-Android/pull/838/files#diff-7ca71cd1f009ab8438e0901205001b14R455-R465

[2019-10-02 16:14] marecar3 commented on #854
Hey @daniloercoli, as a reviewer on that PR, I am taking full responsibility for those two bugs.

I was testing with the less Post `content` which test case didn't expose this kind of bug.
Now tested on Nexus 5x, 8.1 Android, and manage to reproduce it with full example content.

[2019-10-02 16:22] daniloercoli commented on #854
I think the responsibility should be shared among all of us, not only you @marecar3 , since we all are using the editor, and it's now included in GB mobile.

Btw, I encourage you all to run `app->tests` on your PRs, since also tests started failing in .29. That would have been an indicator that something was going off.

[2019-10-03 08:24] marecar3 commented on #854
Not sure why tests passed on this PR with the last commit: https://github.com/wordpress-mobile/AztecEditor-Android/pull/838/commits ?

[2019-10-03 09:44] #854 closed

[2019-10-03 09:46] daniloercoli commented on #837
Re-opening this issue, since the proposed fix in #838 does break the editor on mobile devices, and was reverted here :https://github.com/wordpress-mobile/AztecEditor-Android/pull/855

[2019-10-03 09:47] daniloercoli commented on #853
Addressed in #855.

[2019-10-03 09:47] #853 closed

[2019-10-03 16:50] designsimply commented on #853
fwiw, I did a quick test of this on my Pixel 3 with Android 10 and saw the problem once in several tries. ([1m56s](https://cloudup.com/cjlekTjFMKa))

[2019-10-03 17:01] designsimply commented on #854
fwiw, I tested with WPAndroid alpha-190 (13.3 alpha) on Pixel 3 Android 10 and didn't spot any lag at all with the demo content pasted in 3x. ([2min](https://cloudup.com/cNxhlLa7xlA))

[2019-10-03 22:02] designsimply commented on #854
Spotted one report of this in a 1-star play store review and am noting it here for reference:

* Oct 3, 2019 at 3:14 PM
* App version 776 (13.2)
* OS Android 8.1

[2019-10-03 23:29] designsimply commented on #854
Found one other possible case of a user report of this:

* Reported on Apr 15 23:56
* WPAndroid 12.1.2
* OS: Android version 7.0
* Device: Samsung Galaxy Tab S2

<sup>(internal reference: p4a5px-2om-p2#comment-9768)</sup>

[2019-10-03 23:48] designsimply opened #857 "YouTube video embeds appear as plain URLs in Aztec"
If I embed a YouTube video using the Calypso Classic editor, the embed expands and shows the video itself:

<img width="1280" alt="Screen Shot 2019-10-03 at Oct 3 5 45 42 PM" src="https://user-images.githubusercontent.com/1119271/66171506-a8a32580-e605-11e9-8fb3-3313a43f647c.png">
<sup>Firefox 69.0 on macOS 10.14.6.</sup>

However, the Aztec editor in the Android app the YouTube video embed appear

[2019-10-03 23:49] designsimply commented on #857
@mzorz would you consider this a duplicate of https://github.com/wordpress-mobile/AztecEditor-Android/issues/757 ?

@maxme since we are now moving to using the newer block editor, would you consider this issue a wontfix?

[2019-10-04 00:10] designsimply commented on #756
I tested with on Pixel 3 with Android 10 and wasn't able to replicate this. When I added an image with a caption and then tapped on the image again, the caption was still there.

<img src="https://user-images.githubusercontent.com/1119271/66172461-08e79680-e609-11e9-8c13-32425e65a615.png" width="270" alt="Screenshot_20191003-180921"> <img src="https://user-images.githubusercontent.com/1119271/6617

[2019-10-16 18:37] ghutchins56 opened #862 "onImeBack() is sometimes not called when expected"
### Expected
I expect onBackIme() to always be called when touching device Back button after touching  AztecToolbar

### Observed
After touching expand or collapse button in AztecToolbar, onBackIme() is not always called

### Reproduced
1. Touch AztecText
2. Touch expand or collapse button in AztecToolbar
3. Touch device Back button

#### Tested
SAMSUNG-SM-G900A on Android 6.0.1 with Aztec 1.3.33

[2019-10-18 00:22] ghutchins56 commented on #862
This also happens sometimes for toolbar buttons other than expand or collapse.

[2019-10-19 01:52] MrFuFuFu opened #863 "Text Align not working properly"
### Expected

Text Align will only align current paragraph text.

### Observed

Try to Align current paragraph to centre or right, but it will make other paragraph align to the same way

### Reproduced
![21571449850_ pic_hd](https://user-images.githubusercontent.com/6850766/67136242-13986180-f280-11e9-9eb0-7532c0c25057.jpg)
![11571449849_ pic_hd](https://user-images.githubusercontent.com/6850766/6

[2019-10-19 04:02] MrFuFuFu opened #864 "Support Preview Mode"
### Expected

Use `AztecText` or a method like `fromHtml` to support when only Preview needed instead of editable

[2019-10-27 01:40] #862 closed

[2019-10-30 03:31] flyxmn commented on #756
hi,How to insert A image with caption? i download the develop branch and run it, then click image just display a toast, there is no Image Details page.
![2BC4AE6D0D80EB2C0FD25BFD6EF98B41](https://user-images.githubusercontent.com/10531352/67826830-dac27d00-fb08-11e9-9091-40f4e65e0c91.jpg)
 @designsimply

[2019-11-11 11:42] jrcacd opened #870 "Paste text breaks formating"
When you paste text, the formatting of the text that was already there disappears.

[2019-11-12 10:40] tadangky commented on #847
I'm got same problem, please help!

[2019-11-25 11:11] sergpetrov opened #874 "Why was EnterPressedWatcher removed?"
I noticed that OnAztecKeyListener.onEnterKey() isn't fired now.
@hypest deleted it here https://github.com/wordpress-mobile/AztecEditor-Android/commit/64f336ce893c589520188631c22781f331d49dbf

Maybe, does it makes sense to leave a possibility to add EnterPressedWatcher optionally?

[2019-11-26 10:19] daniloercoli commented on #874
We've moved the `EnterPressedWatcher` code to the project that actually uses it.  https://github.com/wordpress-mobile/gutenberg-mobile/commit/897d2720b6b790483aa26fb97d6e896e838471cd#diff-89afd5713633b7d3446a8777667c13b9

The logic that detects `Enter.key` isn't fail proof, and can miss Enter.Key pressed events under some circumstances and combination of devices/custom keyboards. So instead of kee

[2019-11-29 22:22] MrFuFuFu commented on #819
Any answer for that?

[2019-12-02 07:58] hypest commented on #819
Aztec inherits from `EditText` and the `setTextColor()` method and friends are normally available to set the text color.

Will close this ticket now.

[2019-12-02 07:58] #819 closed

[2019-12-02 08:02] MrFuFuFu commented on #819
![WechatIMG2](https://user-images.githubusercontent.com/6850766/69940325-e27da300-1546-11ea-87c4-2e15eac76acb.png)

What I mean is like this. Well, I have already done this in my app and maybe can submit a PR later.

[2019-12-02 08:38] hypest commented on #819
Oh, I see. The way Aztec supports rendering individual colored words/characters is via inline CSS in the HTML input. See these tests for examples: https://github.com/wordpress-mobile/AztecEditor-Android/blob/develop/aztec/src/test/kotlin/org/wordpress/aztec/HtmlAttributeStyleColorTest.kt#L35-L42.

[2019-12-02 09:16] jrcacd commented on #819
Can Aztec have a button with a pallete for choosing the color?

[2019-12-02 09:31] hypest commented on #819
From a design point of view, yes, I think it could. From the implementation side, I think it could take some effort for those who'll implemented it to hook up the relevant Span classes to support adding/setting/removing while in editing mode.

[2019-12-02 09:34] jrcacd commented on #819
That would be awesome.

[2019-12-04 08:01] sergpetrov opened #880 "Crash IllegalArgumentException: Center point is not inside any of the rectangles"
My app is using Aztec editor and I see many crash reports with such exception.
I was able to reproduce for one case but I believe that it has more cases with the same problem.

### Reproduced
1. Add some empty block style (quote for example).
2. Long tap.
3. Choose "Select all" from the context menu.

Video with the crash in Aztec demo app: https://drive.google.com/file/d/1BkqoL9gp0e5oEwdO2e_P5SOM

[2019-12-05 17:41] maxme opened #881 "Remove `style` attribute on html nodes when pasting"
Copy/paste with formatting works ok but we should think about removing the style attributes that come from the copied source. This will likely not work on the targeted site  and this is a source of issues that makes paste with formatting a broken experience.

Demo video: https://bia.is/s/sTUo/paste-with-formatting-aztec.webm

[2019-12-05 17:53] maxme commented on #881
This related to this comment: https://github.com/wordpress-mobile/AztecEditor-Android/issues/829#issuecomment-517957383 (`style="whitespace: pre"`).

[2019-12-12 00:37] designsimply opened #886 "Long press on an item in the Aztec media picker results in a blank screen or an "unable to load media" message"
Steps to reproduce:

1. Start a new post.
1. Tap to add media.
1. Long press on a device image or video.

**Result:** a long-press on an item in the Aztec media picker results in a blank screen for a video or a message that says "unable to load media" for an image. ([35s](https://cloudup.com/c-RaBLJpAdL))

<img src="https://user-images.githubusercontent.com/1119271/70672457-8993c600-1c3c-11ea-998f

[2019-12-19 17:01] anitaa1990 opened #888 "Provide option to customise the Aztec Editor Toolbar"
It looks like there is no option to customise the styles/colors for the Axztec Toolbar at the moment. This is needed by the Woo app when trying to update product description.

LEFT - What is needed
RIGHT - Current implementation
<img width="216" src="https://user-images.githubusercontent.com/22608780/71192212-d6ffdb00-22ad-11ea-9cff-efd0d9b8eb80.png"> . <img width="216" src="https://user-images.gi

[2020-01-11 14:17] rezzap opened #889 "Publishing HTML post while viewing Visual mode bug"
### Expected

I would expect that if I write a post in HTML mode and then switch over to the VISUAL mode editor before pressing on publish would publish my post as seen.

### Observed

If there is no unformatted text added to my post, the formatted text gets stripped.

If you add one line of unformatted text either in the Visual or the HTML editor, all content remains.

### Reproduced
1. From an A

[2020-01-14 01:42] flyxmn commented on #864
Set isFocusable and isFocusableInTouchMode false can help you,but this will disable other actions like copy text. I look for a better way , if you find please tell me.

[2020-01-22 21:54] designsimply opened #890 "Title is not scrolling automatically when long text is written"
Moved from https://github.com/wordpress-mobile/WordPress-Android/issues/7948. /hat tip @hypest

### Expected behavior
When typing in a long-ish post, editor's title line should get scrolled out of view as the text grows.

### Actual behavior
While typing in long text, the content text itself gets scrolled as the text grows but title line is not scrolled out of view.

### Steps to reproduce the beh

[2020-01-22 21:55] designsimply commented on #890
Moved from https://github.com/wordpress-mobile/WordPress-Android/issues/7948#issuecomment-400359050. /hat tip @mzorz

[2020-01-22 21:55] designsimply commented on #890
Moved from https://github.com/wordpress-mobile/WordPress-Android/issues/7948#issuecomment-401646204. /hat tip @RubenSaucedo

[2020-01-22 21:58] designsimply commented on #890
I tried testing this a few times and couldn't replicate the problem. I tried with WPAndroid 14.0-rc-1 on:

* Pixel 3 Android 10 (my device)
* Pixel 2 Android 7 (emulator)
* Nexus 4 Android 5.1 (emulator), [42s](https://cloudup.com/cTPlrz1ljIZ)

@hypest @mzorz are you still able to replicate this problem in the latest version of the app?

[2020-01-22 21:59] designsimply commented on #890
This was also reported as a problem in the iOS app: https://github.com/wordpress-mobile/AztecEditor-iOS/issues/872.

[2020-01-28 13:20] ercanduman commented on #862
@ghutchins56 I have similar problem, did you figure out the reason?

[2020-01-29 07:41] ercanduman commented on #862
I had the issue when implemented the library in gradle as
[code]
changing to
[code]
as used in demo app, solved the issue for me. Thanks for this great library, appreciated it.

[2020-02-01 18:22] Zeliret opened #891 "Any documentation?"
Hi there!
Where can I find a documentation or examples for this library?
For example how to make a selected text bold or italic?

[2020-02-06 15:58] maxme commented on #831
This one seems to happen again since we released wpandroid 14.0.

https://sentry.io/share/issue/d8e86c0fd5a144708dca6c1ece393b5e/

[2020-02-14 09:25] ercanduman opened #894 "java.lang.IndexOutOfBoundsException (History.doHandleHistory)"
**Fatal Exception: java.lang.IndexOutOfBoundsException
Index: 2, Size: 0
org.wordpress.aztec.History.doHandleHistory**

java.util.LinkedList.checkElementIndex (LinkedList.java:555)
java.util.LinkedList.remove (LinkedList.java:525)
**org.wordpress.aztec.History.doHandleHistory (History.kt:65)
org.wordpress.aztec.History$HistoryRunnable.run (History.kt:199)**
android.os.Handler.handleCallback (Handl

[2020-02-14 09:27] ercanduman commented on #894
I found the line and it has something like:

[code]

Is it going to solve the problem If I changed to as below?
[code]

[2020-02-14 11:28] hypest commented on #894
👋 @ercanduman , thanks for reporting! Do you happen to have steps to reproduce the crash?

[2020-02-23 00:43] designsimply opened #896 "Local changes detected after `undo`"
Moved from https://github.com/wordpress-mobile/WordPress-Android/issues/8009. h/t @mzorz

### Expected behavior
If content remains identical to what the Editor was fed with, it should not show the `Local changes` label when adding content then undoing.

### Actual behavior
Opening an existing post, adding a character then tapping on `undo` still makes the app believe there were changes made to the

[2020-02-23 00:45] designsimply commented on #896
Moved from https://github.com/wordpress-mobile/WordPress-Android/issues/8009#issuecomment-430309781. h/t @rachelmcr

[2020-02-23 00:52] designsimply commented on #896
Tested and confirmed using 14.2-rc -2 on pixel 3 Android 10. ([1m54s](https://cloudup.com/cELcEM18kdp))

[2020-02-25 10:58] hypest commented on #896
Is this only happening in the Classic Editor or in mobile Gutenberg too?

[2020-02-25 14:49] designsimply commented on #896
Good question. I just did a quick test and it's happening in Gutenberg Mobile too. I'll do a bit more testing and create an additional issue in the `gutenberg-mobile` repo.

[2020-04-09 08:21] #888 closed

[2020-05-01 18:20] ercanduman opened #907 "Fatal Exception: java.lang.OutOfMemoryError"
_Failed to allocate a 266338312 byte allocation with 25165824 free bytes and 120MB until OOM, max allowed footprint 166812032, growth limit 268435456
org.wordpress.aztec.AztecParser.withinNestable_

Code that error thrown
[code]

**Device**
Brand: asus
Model: ZenFone Max Pro M1 (ZB602KL) (WW) / Max Pro M1 (ZB601KL) (IN)
Orientation: Portrait
RAM free: 2.21 GB
Disk free: 13.08 GB
**Operating System

[2020-05-17 01:56] Icyrockton commented on #864
Is preview mode supported now？

[2020-05-22 10:44] malinajirka opened #908 "Aztec: Add image icon is "x" instead of "+""
### Expected
The "add" image icon is "+"  and it animates into "x" after the user clicks on it.

### Observed
The "add" image icon  is "x" even before the user clicks on it.

### Reproduced
1. Open Aztec
2. Notice the icon is "x" instead of "+"

<img width="489" alt="Screenshot 2020-05-22 at 11 26 11" src="https://user-images.githubusercontent.com/2261188/82659950-c7ecd280-9c29-11ea-9783-af0fdb100

[2020-05-22 14:06] hypest commented on #908
Using `git bisect` I've pinpointed the start of the regression to [this PR](https://github.com/wordpress-mobile/AztecEditor-Android/pull/900). @anitaa1990 , can you have a look? It'd be good if we fix this regression soon now that we spotted it. Thanks!

[2020-05-25 06:50] anitaa1990 commented on #908
Thanks for the ping @hypest! I'll take a look today!

[2020-05-25 07:49] anitaa1990 commented on #908
I have opened a [PR](https://github.com/wordpress-mobile/AztecEditor-Android/pull/909) with a fix. Should I create a new release in Aztec and open a draft PR in Woo and WP with this fix?

[2020-05-25 09:06] hypest commented on #908
Hey Anitaa, yeap, that'd be great, thanks! cc @SergioEstevao, @mchowning since the Aztec version bump will need to be included in the gutenberg-mobile too, so the WPAndroid build succeeds.

[2020-05-25 22:31] arctouch-felipevaladares opened #910 "BackgroundColorSpan support?"
Does the lib support BackgroundColorSpan? i need to create a custom toolbar and one of the options should be to paint the text background like this:
![image](https://user-images.githubusercontent.com/59581302/82846196-10242300-9ebe-11ea-8c47-fddbd6be1b02.png)

[2020-05-28 11:10] #908 closed

[2020-05-30 16:35] duyvt88 commented on #819
@MrFuFuFu Could you please submit your code? I would like to have that capability. Or could you please give me a guide to do it?
Many Thanks,

[2020-05-31 21:37] felipevaladares commented on #910
i did by my self on this PR https://github.com/wordpress-mobile/AztecEditor-Android/pull/911

[2020-06-01 00:28] MrFuFuFu commented on #819
@duyvt88  thanks for asking. I did somehow managed to change the color, but somehow, it doesn't work as I expected. I'm now using https://github.com/wasabeef/richeditor-android it works great and easy to manage.

[2020-06-01 14:43] duyvt88 commented on #819
@MrFuFuFu Thanks for your reply. I will try it now.

[2020-06-12 05:48] cameronvoell opened #914 "Format text then remove format removes color style"
### Expected
Toggling a format on and off should not change the color attribute of text in the visual editor or html editor.

### Observed
Toggling a format on and off removes text color alterations in the visual editor. In some cases the color attribute still exists in the html, toggling html mode on and off brings the color back in the visual editor. In other cases when toggling a format, the co

[2020-06-18 07:27] sanjogshrestha opened #915 "Is there any way we could change the background color used in the quotes?"
I was wondering if there is any existing way to adjust or customize the background color for the quotes ?
It's always the same irrespective of theme used in the project.
Thanks!

[2020-06-22 07:35] qiudanyao commented on #514
and now? I am faced with the same problem . how can I use p tag as AztecEditor-iOS?

[2020-06-30 06:27] sanjogshrestha commented on #915
Luckily I found these styles [here](https://github.com/wordpress-mobile/AztecEditor-Android/blob/develop/aztec/src/main/res/values/styles.xml) which solved my issue.

`aztec:quoteBackground="@color/YOUR_COLOR"`

[2020-06-30 06:27] #915 closed, assigned to nobody

[2020-06-30 18:23] arctouch-felipevaladares commented on #914
i found the source of the bug, InlineFormatter L:232, for some reason every time that we remove some format its also removing all the ForegroundColorSpan, i'll remove this on my PR for bg color https://github.com/wordpress-mobile/AztecEditor-Android/pull/911

[2020-07-10 14:44] maxme opened #917 "Contributor Agreement for re-licensing Aztec-Android from GPL v2 to MPL v2.0"
[WordPress-Mobile organization](https://github.com/wordpress-mobile) is relicensing Aztec-Android code base from [GNU General Public License, v2 (GPL v2)](https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html) to [Mozilla Public License v2.0 (MPL v2.0)](https://www.mozilla.org/en-US/MPL/2.0/). In this ticket, we're asking all contributors to give their permission for this change.

# Why Switch

[2020-07-10 17:52] adrielcafe commented on #917
I agree that my past contributions to Aztec-Android are relicensed from the GNU General Public License v2 to the Mozilla Public License version 2.0.

[2020-07-14 10:32] richanshah opened #918 "I want to customized image upload methods and view also ,can anyone guide me for that?"
### Expected

### Observed

### Reproduced
1. [STEP_1]
2. [STEP_2]
3. [STEP_3]

#### Tested
[DEVICE_NAME] on [OS_VERSION] with [APP_VERSION]

[2020-07-17 17:57] MatisseHack commented on #917
I agree that my past contributions to Aztec-Android are relicensed from the GNU General Public License v2 to the Mozilla Public License version 2.0.

[2020-07-21 13:44] #910 closed

[2020-07-22 18:43] arctouch-felipevaladares opened #920 "PR Review"
I have this PR opened for months, latest changes/fixes done more than 20 days ago, can anyone review it?
https://github.com/wordpress-mobile/AztecEditor-Android/pull/911

[2020-07-29 14:42] maxme commented on #917
Thank you @adrielcafe and @MatisseHack - we're going to change the license without doing any code change 🎉 .

[2020-08-22 00:12] designsimply commented on #831
**Events in the last 90d:** 11,000
**Users affected in the last 90d:** 1,200
<sub>WORDPRESS-ANDROID-8KW: https://sentry.io/share/issue/d8e86c0fd5a144708dca6c1ece393b5e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1483946727&sort=-timestam

[2020-08-27 12:04] #831 closed

[2020-09-04 14:15] maxme commented on #917
Closed via #922

[2020-09-04 14:15] #917 closed, assigned to maxme

[2020-09-15 21:03] jd-alexander opened #926 "Accessibility : AztecText focuses on hover"
### Expected
That the user has to tap the AztecText control for it to gain focus when using TalkBack.

Parent issue https://github.com/wordpress-mobile/gutenberg-mobile/issues/918

### Observed
Once the user hovers on the AztecText control when TalkBack is on, the view is focused.

### Reproduced
1. Enable TalkBack.
2. Hover over the example content within the AztecText view.
3. See the blinking c

[2020-09-23 20:03] #926 closed, assigned to jd-alexander

[2020-09-24 08:40] maxme commented on #920
https://github.com/wordpress-mobile/AztecEditor-Android/pull/911 is being reviewed, I'm closing that one.

[2020-09-24 08:40] #920 closed, assigned to nobody

[2020-10-12 23:36] sharathkaribasappa commented on #846
Hi, i would like to known what was the reason behind doing this implementation.
Inline text styles should be applied (underline/bold/italic) to the next line if the user pressed 'Enter'

[2020-10-14 11:13] tipa opened #930 "Stop list after 2x Enter press instead of adding newline in 'li' element"
### Expected
When the cursor is in the middle of a list (not the last list item) and the user clicks the Enter button twice, the list should stop.

### Observed
The list is not stopped and Aztec is adding a newline inside a 'list item' element

### Reproduced
1. Open list
2. Add some list items
3. Center cursor in the middle of the list
3. Click enter button twice

#### Tested
Android Simulator on

[2020-10-14 13:21] tipa commented on #874
I also noticed that OnEnterKey() isnt firing (at least not on a physical device). I would need that event to implement a workaround for this issue: https://github.com/wordpress-mobile/AztecEditor-Android/issues/930

[2020-10-18 22:08] MoustafaElsaghier commented on #805
any updates about that?

[2020-11-20 12:53] tipa opened #931 "Incorrect rendering / overlapping text / "stuck" lines when inserting list/heading above text"
### Expected
I can make lists, headers etc. and the text re-layouts itself without issues

### Observed
In certain situation, lines below a header, list or bold text are not rendered correctly but on the incorrect vertical position.

### Reproduced
1. Start demo app
2. Type a few plain text lines on the top
3. Make first line to list
4. (optional) type text to force line break on line or press ent

[2020-11-26 06:14] Riya1295 commented on #848
Any update or any solution for this issue?

[2020-12-02 00:24] minshoki opened #932 "change the textColor / textShadingColor"
Thank you for giving me a really good library.

But I do support the desired function.

The features I want are:
-Change text color (using palette)
-Change text shading (using palette)
Of course <span style="color:CYAN;">blabla</span> works, but
I want to apply a color by selecting a color using the button on the toolbar.

Is there any source code that I can refer to?

[2020-12-03 03:58] ygnessin opened #933 "Can the library be fully migrated to AndroidX?"
### Expected
First of all, thank you for maintaining such a wonderful library!

For any version past [v1.3.28](https://github.com/wordpress-mobile/AztecEditor-Android/releases/tag/v1.3.28) I would expect this library to be migrated to AndroidX, and therefore not to require jetifier to be enabled.

### Observed
When using the [can-i-drop-jetifier](https://github.com/plnice/can-i-drop-jetifier) grad

[2020-12-09 00:31] ygnessin commented on #933
I was able to use the plugin's `verbose` setting to find a little more info:

[code]

Hopefully this helps you get to the bottom of it!

[2020-12-09 01:01] ygnessin commented on #933
In the meantime, I have found a work-around for this by exposing a direct dependency to `org.wordpress:utils`:
[code]
These seems to solve the problem for me for now.

[2021-03-11 14:47] mustafaberk1996 opened #936 "GlideImageLoader implementation build issue"
### I want to show a picture that is on the server

### I followed these steps;

1. Added aztec and glide-loader library in my project
2. And I make  this code ;

[code]

then build project i got some error. I share image here.

<img width="1101" alt="Screen Shot 2021-03-11 at 5 41 53 PM" src="https://user-images.githubusercontent.com/57665619/110804297-19d21800-8291-11eb-8784-11e0e72c3fa7.png">

[2021-03-12 01:51] mchowning commented on #936
:wave: @mustafaberk1996 ! Could you put a sample project showing the error on GitHub? That would make it much easier to diagnose the issue.

[2021-03-12 07:28] mustafaberk1996 commented on #936
Hi @mchowning the project is [here](https://github.com/mustafaberk1996/aztec-rich-editor). Thanks for your support.

[2021-03-23 21:04] mchowning commented on #936
I believe those errors are because you're building your app targeting API level 30, whereas Aztec is still targeting API level 28. Among other things, API level 30 changed some [warnings into errors](https://android-developers.googleblog.com/2020/03/handling-nullability-in-android-11-and.html). In order to build the project targeting API level 30 like you are in your project you will just need to

[2021-05-24 10:54] imthiaz commented on #931
Hello

Even we have used aztec library in our application and we are also facing the same issue when user applies ordered list option for one of the middle lines.

Not sure if they will fix this issue. But if you have found a fix let me know please as it would help us improve the performance of our application

[2021-06-07 05:09] Anilkumar18 commented on #805
Any updates about this issue? We have faced this issue in the 1.13.1 version too.

[2021-10-27 18:14] mchowning commented on #936
I'm going to go ahead and close this, but feel free to let me know if you run into any other problems.

[2021-10-27 18:14] #936 closed, assigned to nobody

[2021-11-30 01:13] ThomasGorisse commented on #845
Try
[code]

[2021-12-13 18:22] oguzkocer commented on #933
@ygnessin Thank you for reporting this issue. We have dropped jetifier in https://github.com/wordpress-mobile/AztecEditor-Android/pull/946. I am sorry it took so long to be addressed.

[2021-12-13 18:22] #933 closed, assigned to nobody

[2022-01-21 21:08] Kodak1234 opened #951 "Failed Build"
The latest release build is failing, check jitpack.io. So unable to import project into android studio

[2022-01-22 16:34] Kodak1234 commented on #951
![image](https://user-images.githubusercontent.com/17802465/150647278-9f059a18-01be-4b5b-ade1-73ad9c4fb221.png)

[2022-01-24 12:22] hypest commented on #951
Thanks for reporting!

Here's the build log on the JitPack job:

[code]

👋 @oguzkocer , would you have the chance to have a look? Looks like a failure that happens on multiple (older) releases, not sure if this is due to some recent change or not. Thanks!

[2022-02-01 08:24] kulkarni46 opened #953 "Inline format is not preserved on new line"
### Expected
Inline format should be preserved on new line like in other standard editors

### Observed
Inline format gets removed on new line

### Reproduced
1. Select Bold and type something
2. Enter a new line
3. Type new text. Bold format gets removed

#### Tested
[One Plus 7 Pro] on [11] with [1.5.3]

Seems like existing behaviour for library.
I have made a fix by making local changes to the

[2022-02-02 10:36] hypest commented on #951
My ping above probably didn't go through (it was erroneously left inside the code block) so, let me add this new comment with it. 👋 @oguzkocer , can you have a look to this ticket? Thanks!

[2022-02-02 10:40] hypest commented on #953
Thanks for ticket @kulkarni46 and sure, feel free to open a PR! That said, not many folks are focused on Aztec at the moment so, it might take a bit of time for the review to go through.

[2022-02-02 17:22] oguzkocer commented on #951
@hypest You're correct, I didn't receive the previous ping. We no longer use Jitpack as we started publishing our artifacts to our S3 Maven through a Buildkite job instead. I created a PR to update the integration instructions in `README`: #954

@Kodak1234 If you add the following maven url to your repositories, you should be able to fetch the latest artifacts:

[code]

Please feel free to ping me

[2022-02-02 17:22] #951 closed, assigned to nobody

[2022-02-03 03:51] Kodak1234 commented on #951
I'm still unable to pull the latest artifacts.
[code]

[2022-02-03 04:12] oguzkocer commented on #951
@Kodak1234 ~Which version are you trying to fetch?~ Please note that only the latest few versions are available in the S3 maven repository, `v1.5.4` being one of them.

~If you can share the line where you're adding the dependency, that'd be helpful.~

Edit: The issue was most likely because of the change in artifact path which I've commented on separately [below](https://github.com/wordpress-mobi

[2022-02-03 04:22] oguzkocer commented on #951
@Kodak1234 I forgot that we changed the path of the artifact. Can you update your dependency as below and try again?

[code]

Sorry about that confusion!

[2022-02-03 20:18] Kodak1234 commented on #951
@oguzkocer Please can you guys write a documentation on the best way to implement this editor in recyclerview, using a simple textview does not render all the spans properly.

[2022-02-03 21:16] oguzkocer commented on #951
@Kodak1234 I unfortunately don't have experience working with the library, but I'll bring it up internally to see if anyone who has experience have the bandwidth to write such a documentation.

In the meantime, your best best might be to look into how it's used in other WordPress projects. [Here is the module it's used in the Gutenberg project](https://github.com/WordPress/gutenberg/tree/trunk/pac

[2022-02-04 08:25] hypest commented on #951
👋 @Kodak1234, there doesn't seem to be available bandwidth from the main maintainers at the moment to dive into this request, sorry 😞 . That said, the links @oguzkocer shared above can be a good resource to check.

I'd suggest to open a new ticket to focus on the specific usecase, ideally including links to code that can be reviewed. Aztec has been designed to be a replacement to an EditText, and

[2022-02-10 14:55] planarvoid opened #955 "Enable custom ordering and filtering of toolbar buttons"
In order to improve functionality of the Aztec editor it would be great if we could allow only a subset of the toolbar actions (not all actions are supported by all usecases). In addition to this we should allow reordering of the toolbar items.

This should work both in Basic and Advanced mode.

[2022-02-16 13:10] planarvoid opened #957 "Add support for code block"
The drawing support for inline `code` and `pre` block is already built in. We should add a toolbar action that would handle these actions. The expected behaviour is:

### Inline code from selection
- Select a word in a sentence
- Click on `<>` icon
- The word gets highlighted with the `<code>` inline annotation
- The `<>` icon gets highlighted
- Click on the `<>` icon again
- The icon is not highl

[2022-02-23 16:30] planarvoid opened #959 "Add support for a task list"
The editor currently supports ordered and unordered lists. We want to add support for task lists. This will be another type of a list on the same level as the other two (and we should be able to switch between these lists). The option will be disabled by default.

[2022-02-28 12:32] planarvoid opened #961 "Add support for highlight action"
### Expected
We want to have a new `highlight` action which highlights a selected text background with a customized color. This action will have a new button and will be optional (hidden by default)

[2022-03-02 13:51] ParaskP7 opened #964 "CI - Missing Lint Artifacts (And CheckStyle)"
### TL;DR

As part of [Gradle 7.4 & AGP to 7.1.1](https://github.com/wordpress-mobile/AztecEditor-Android/pull/963) upgrade, I noticed that only the `aztec` module related Lint set of artifacts are being uploaded during a CI build (see `~/lint/lint-results-release.html/txt/xml`). However, there are five more Lint related artifacts that need to be uploaded as well, for the `wordpress-shortcodes`, `

[2022-03-03 08:40] planarvoid opened #965 "Support nested lists"
### Expected
The editor is currently able to draw nested lists. However, there is no way to create them. In this issue we want to add support for two operations `indent` and `outdent`.
- Intent will take part of the list and create a nested list from it
- Outdent will do the opposite.

These two operations will be optional.

[2022-03-10 13:10] planarvoid opened #967 "Make sure code inline style is exclusive"
### Expected
I'd expect the `code` inline style to be the only style selected (when selecting it after choosing `bold` or `italic` inline styles).

### Observed
You can currently select all of the inline style at once even though they are not visible.

### Reproduced
1. Select a text
2. Click on "code" action
3. Click on "bold" action
4. Notice both styles are selected
5. Notice only "code" is vis

[2022-03-11 08:53] planarvoid opened #969 "Add option for block styles to be exclusive"
We want to have an option so that selecting a block style will disable the currently selected style
- Selecting a heading
- Clicking on "quote"
- Heading style is removed and "quote" style is set

[2022-03-14 08:29] FANMixco opened #971 "Readme preview examples are broken"
### Expected

To display the previews correctly in the readme.

### Observed

![image](https://user-images.githubusercontent.com/1666156/158133541-4052df95-a458-48b9-afe3-c4b0ca6d1cce.png)

### Reproduced
1. Go to this URL: https://github.com/wordpress-mobile/AztecEditor-Android
2. Scroll down to these words, **Supports Android 4.1+ (API 16 - Jelly Bean)**

#### Tested
N/A

[2022-04-15 08:59] #971 closed, assigned to hypest

[2022-04-18 19:15] hansemannn opened #981 "Handle URL / link clicks?"
First things first: This is an amazing library. We migrated from another one in no time and it works much more smoothly compared to anything else! Thanks everyone for putting time into this!

### Expected
A user would expect that links are clickable once inserted. Maybe, even a dialog could be shown to switch between opening or editing the link.

### Observed
This is not the case right now. It is

[2022-04-19 08:22] hansemannn commented on #981
Nevermind! It can be done by setting the property `linkTapEnabled: true` and the `onLinkTappedListener`. Thanks again!

[2022-04-19 08:22] #981 closed, assigned to nobody

[2022-05-23 13:06] NStreet8579 commented on #880
Facing Same issue. Please help!

[2022-06-27 15:09] #965 closed, assigned to planarvoid

[2022-06-27 15:09] #959 closed, assigned to planarvoid

[2022-06-27 15:09] #957 closed, assigned to planarvoid

[2022-06-27 15:10] #961 closed, assigned to planarvoid

[2022-06-27 15:10] #955 closed, assigned to planarvoid

[2022-06-27 15:10] #969 closed, assigned to planarvoid

[2022-06-27 15:10] #967 closed, assigned to planarvoid

[2022-07-14 11:11] NStreet8579 commented on #880
Hi @sergpetrov , Can provide that video sample agian, link is broken, i'm also getting the exact crash, but not able to recreate the crash

[2022-08-09 07:54] aantunovic opened #1000 "Github actions build fails because it can't pull the dependency"
### Expected
Build to pass

### Observed
Build fails with :

     Required by:
         project :app

repository is declared as :
[code]
I'm not sure what could be the reason since there is no issue with local builds... (metadataSources and content are added later but have no effect )

[2022-08-11 19:25] aantunovic commented on #1000
Nevermind, solved by changing the order of repositories, for some reason when bintray was declared above, on github workflow it would always look there and fail..

[2022-08-11 19:25] #1000 closed, assigned to nobody

[2022-09-29 07:33] AjeshRPai opened #1003 "Update `targetSdkVersion` to 31 for Android 12 Migration"
Parent #https://github.com/wordpress-mobile/WordPress-Android/issues/16062

As part of the migration of WP Android to Android 12, the `targetSdkVersion` on the dependent libraries can be updated to 31. The [Wordpress Android](https://github.com/wordpress-mobile/WordPress-Android) had a `targetSdkVersion` of 30 which now has been updated to 31 in this PR - https://github.com/wordpress-mobile/WordPr

[2022-10-13 09:25] mohsin-ali-brainx opened #1008 "Need utility function to get the cursor position."
### Expected
A utility function that returns the cursor position so that a custom string could be added programmatically.

### Observed
Currently `consumeCursorPosition()` is returning a position for the formatted html text

[2022-10-13 09:48] #1003 closed, assigned to AjeshRPai

[2022-10-14 19:41] alihaider63 opened #1010 "How to get Aztec Whole view OnClickListener?"
Hi, @0nko @khaykov @theck13 @hypest @daniloercoli
Please guide me!

[2022-10-21 07:22] marcardar opened #1011 "getLocationOnScreen() vs. getLocationInWindow()"
https://github.com/wordpress-mobile/AztecEditor-Android/blob/fdcf6ce096db614a8c94e08570a5413106f58b9f/aztec/src/main/kotlin/org/wordpress/aztec/AztecText.kt#L612

I was just checking [targetSdkVersion](https://developer.android.com/google/play/requirements/target-sdk#modernizing) requirements and they mention potentially using `getLocationInWindow()` instead of `getLocationOnScreen()` because of t

[2022-11-15 19:32] cameocoder opened #1014 "Text containing angle brackets and email addresses gets mangled"
### Expected
Able to paste plain text containing a list of names and email addresses:
`First1 Last1 <flast1@example.com>, First2 Last2 <flast2@example.com>`

### Observed
Only text up to the first < is displayed and everything after is just replaced by a ? (unprintable character?)

### Reproduced
1. In the Aztec sample app clear all pre-filled text
2. Paste as plain text "`First1 Last1 <flast1@exa

[2022-11-28 12:13] techode opened #1019 "Implementation supplied, is throwing an error. Library isn't being imported."
### Expected Library Import

### Observed Failed to resolve: org.wordpress:aztec:v1.6.2

### Reproduced
1. [STEP_1] Create a new Kotlin project and add the implementation as supplied
2. [STEP_2] Sync project.
3. [STEP_3] Error, failed to resolve.

#### Tested
[DEVICE_NAME] on [OS_VERSION] with [APP_VERSION]

[2022-11-29 11:29] ParaskP7 commented on #1019
👋 @techode and thank you for raising this issue! 🙏

I just tried to create a new Kotlin project and add the dependency as specified in the [README.md](https://github.com/wordpress-mobile/AztecEditor-Android#readme) file. To be more specific, I followed the [Integrating Aztec in your project](https://github.com/wordpress-mobile/AztecEditor-Android#integrating-aztec-in-your-project) instructions. Th